@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {
  margin: 0px;
  padding: 0;
  font-family: "Poppins";
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f2;
  color: #1e1e24;
  max-width: 100%;
  padding: 1rem 2rem;
}

skills-body {
  background-color: #f7f7f2;
}
header {
  background-color: #41639f;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 5rem;
}
.logo {
  /* max-width: 10%; */
  cursor: pointer;
  width: 8%;
  margin: 0.5rem 5rem;
}
.logo:hover {
  font-weight: bolder;
  font-size: 3rem;
  width: 10%;
}
.navmenu {
  display: flex;
}
.navmenu a {
  display: inline-block;
  align-items: center;
  margin: 0 1.5rem;
  color: #f7f7f2;
  font-size: smaller;
  font-weight: 500;
  transition: all 0.6;
  text-decoration: none;
  width: max-content;
}
.navmenu a:hover {
  transform: translateY(-5px);
}

.navmenu a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #f7f7f2;
  transition: all 0.5s ease;
}
.navmenu a:hover::after {
  width: 95%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");

.table {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  margin: 5rem 2rem;
  justify-content: space-evenly;
}

.container {
  width: 25%;
  height: 25%;
  padding: 5rem 5rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px grey;
  background-color: #1e1e24;
}

.container .info-2 {
  color: #f7f7f2;
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
}

/* .box {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
} */

.box i {
  display: inline-grid;
  padding: 0.5rem;
  position: relative;
  /* right: -3.5rem; */
  top: -1rem;
}

.box i:hover {
  scale: 1.2;
}

.box .name-language {
  font-family: "Poppins" sans-serif;
  font-weight: 700;
  color: #f7f7f2;
  bottom: 1.5rem;
  display: flex;
  gap: 1.2rem;
  position: relative;
  justify-content: space-evenly;
  font-size: 1rem;
}

.box .details {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
}

.fa-html5 {
  color: orangered;
  font-size: 5rem;
}

.fa-css3-alt {
  color: blue;
  font-size: 5rem;
}

.fa-square-js {
  color: yellow;
  font-size: 5rem;
}
.fa-dev {
  color: aqua;
  font-size: 5rem;
}

.container-2 {
  width: 25%;
  height: 25%;
  padding: 5rem 5rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px grey;
  background-color: #1e1e24;
}

.container-2 .info-3 {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
}

.box-2 i {
  display: inline-grid;
  padding: 0.5rem;
  position: relative;
  /* right: -3.5rem; */
  top: -1rem;
}

.box-2 i:hover {
  scale: 1.2;
}

.box-2 .details {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  position: relative;
}

.box-2 .name-language {
  font-family: "Poppins";
  font-weight: 500;
  color: #fff;
  bottom: 1.5rem;
  display: flex;
  gap: 1.2rem;
  position: relative;
  justify-content: space-evenly;
  font-size: 1rem;
}

.fa-square-github {
  color: #fff;
  font-size: 5rem;
}

.fa-git-alt {
  color: rgb(241, 85, 13);
  font-size: 5rem;
}
